[[def: verification, verification]]

~ An action an [[ref: agent]] (of a principal) performs to determine the [[ref: authenticity]] of a claim or other digital object using a cryptographic key.  
~ Source: ToIP glossary, Jan 2024.

~ More in <a href="https://weboftrust.github.io/WOT-terms/docs/glossary/verification">extended KERI glossary</a>
